/* Style the tab */
.App {
  display: grid;
  grid-template-areas: ". s ." ". w .";
  grid-template-rows: 50px auto;
  grid-template-columns: 400px auto 400px;
  margin-top: 2px;

}

.SelectValue {
  grid-area: s;
  display: grid;
  grid-template-areas: "sel but";
  grid-template-columns: 200px 100px ;
  margin-top: 10px;
}

.Selector {
  grid-area: sel;
}

.GetButton {
  grid-area: but;
  height: 40px;
}

.WrapperContent {
  grid-area: w;
  margin-top: 15px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.margin-left {
  margin-left: 15px;
}

.MainTable {
  margin-top: 14px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}